* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #333;
}
.row{
    margin: 0 5px;
}
.jumbotron {
    padding: 5px;
}
.search-title {
    color: white;
    font-size: larger;
}
#search-history {
    margin-bottom: 5px;
}
.historyBtn {
    width: 100%;
    background-color: aquamarine;
    color: black;
    border-radius: 5px;
    margin-top: 2px;
    padding: 10px;
}
.historyBtn:hover {
    background-color: tomato;
    color: white;
}
.index-num {
    padding: 8px;
    border-radius: 5px;
}
#current-weather {
    padding: 15px;   
}
#forecast {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    flex-wrap: wrap;
}
#forecast {
    /*font-size: 15px;*/
    text-align: center;
}
.card p{
    padding: 0 5px;
}
.forecast-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(200, 200, 200, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: #bbb 1px 1px 1px 1px;
}
.weather-image {
    width: 80px;
    margin: auto;
}