* {
    box-sizing: border-box;
    margin: 0;
}

.row{
    margin: 0 5px;
}

.historyBtn {
    width: 100%;
}
.index-num {
    padding: 8px;
    border-radius: 5px;
}
#current-weather {
    padding: 15px;   
}
#forecast {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
    flex-wrap: wrap;
}
#forecast {
    /*font-size: 15px;*/
    text-align: center;
}
.card p{
    padding: 0 5px;
}
.forecast-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: #000 1px 1px 1px 1px;
}
.weather-image {
    width: 80px;
    margin: auto;
}