* {
    box-sizing: border-box;
    margin: 0;
}

.row{
    margin: 0 5px;
}

.historyBtn {
    width: 100%;
}
.index-num {
    padding: 8px;
}
#current-weather {
    padding: 15px;   
}
#forecast {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    flex-wrap: wrap;
}
#forecast h3 {
    font-size: 15px;
    text-align: center;
}
.card p{
    padding: 0 5px;
}
.forecast-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
}
.weather-image {
    width: 80px;
    margin: auto;
}